<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>business quant</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="main">
        <div class="head">
        <h1>Business Quant</h1>
    </div>

      <div class="main-content">
         <div class="stock">
        <h4>Stock Scanner</h4>
         </div>

         <div class="block1">
            <form id="myForm">
            <div class="select_revenue">
                <select>
                    <option name="revenue"></option>
                    <option name="gp"></option>
                    <option name="fcf"></option>
                    <option name="capex">x</option>
                </select>
                    <select >
                        <option>greater than</option>
                        <option>less than</option>
                        <option>less than equal</option>
                        <option>greater than equal</option>
                        <option>equal to</option>
                    </select>
                    <input type="number" placeholder="0">
                    <select>
                        <option>choose value</option>
                        <option></option>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                    </select>
                    <div class="close">
                        <button class="delete-btn">cl</button>

                    </div>
                </div>
            </form>
            <div>
                <div class="plus">
                    <button onclick="addForm()">plus</button>
                </div>
            </div>
                
         <div>
           
         </div>
 </div>
</div>  
</div>

<script src="/app.js"></script>
</body>
</html>
